/* NavBar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

nav .nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav .link {
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

nav .link:active {
    color: #ebe5e5;
}

nav .link:visited {
    color: #ebe5e5;
}

nav img {
    border-radius: 10px;
    width: 120px;
}