@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Geist';
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #2d2c2c;
    color: #ebe5e5;
}

img {
    display: inline-block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

button {
    background-color: #425e2f;
    color: #ebe5e5;
    border: none;
    padding: 8px 12px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #425e2f;
}